<% layout("./layouts/boilerplate.ejs") %>

  <div class="row">
    <div class="col-8 offset-2">
      <br />
      <h2>Add new Listing.</h2>
      <br />
      <form
        action="/listings"
        method="POST"
        class="needs-validation"
        novalidate
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label class="form-label" for="title">Title:</label>
          <input
            class="form-control"
            type="text"
            id="title"
            name="listing[title]"
            placeholder="Enter Title"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

         <div class="mb-3">
          <label class="form-label" for="image">Upload Image:</label>
          <input
            class="form-control"
            type="file"
            id="image"
            name="listing[image]"
            required
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="description">Description:</label>
          <textarea
            class="form-control"
            type="text"
            id="description"
            name="listing[description]"
            placeholder="Enter Description"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description.</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label class="form-label" for="price">Price:</label>
            <input
              class="form-control"
              type="number"
              id="price"
              name="listing[price]"
              placeholder="1200"
              required
            />
            <div class="invalid-feedback">Please set a price.</div>
          </div>

          <div class="mb-3 col-md-8">
            <label class="form-label" for="country">Country:</label>
            <input
              class="form-control"
              type="text"
              id="country"
              name="listing[country]"
              placeholder="India"
              required
            />
            <div class="invalid-feedback">Please enter a Country name.</div>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="location">Location:</label>
          <input
            class="form-control"
            type="text"
            id="location"
            name="listing[location]"
            placeholder="123, ABC Street, XYZ City"
            required
          />
          <div class="invalid-feedback">Please enter a Location.</div>
        </div>


      <div class="mb-3">
        <label class="form-label" for="category">Category:</label>
        <select class="form-select" id="category" name="listing[category]" aria-label="Default select example" required>
          <option value="" disabled selected>Select a category</option>
          <option value="rooms">Rooms</option>
          <option value="lakes">Lakes</option>
          <option value="arctic">Arctic</option>
          <option value="pools">Pools</option>
          <option value="farm">Farm</option>
          <option value="castles">Castles</option>
          <option value="beach">Beach</option>
        </select>
        <div class="invalid-feedback">Please select a category.</div>
      </div>

      <button type="submit" class="btn btn-dark">Create Listing</button>

      </form>
    </div>
  </div>
  <br />
  <br />

